<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @task.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @task.author %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @task.thing_id %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
